# Copy this file to `.env` and replace the placeholder with your real connection string.
# Connection string for PostgreSQL.
# Requires PostgreSQL >= 15.

DATABASE_URL="postgresql://user:password@localhost:5432/mydb"

BETTER_AUTH_SECRET=...

BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app (in vercel, this is automatically set to your production URL)

NEXT_PUBLIC_BASE_URL=http://localhost:3000 # Base URL of your app. This is public information and can be used in the frontend code.
